@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>
    <img src="~/elgiv2.jpg" alt="Workplace" usemap="#workmap" width="80%" height="60%">
    </h1>
    <hr />
    <h1> Herunder kan du logge ind</h1>
    <h2> Hvis du er Admin, så klik adminlogin og indtast loginoplysninger</h2>
    <h2>Hvis du er kunde, klik kunde og indstast loginoplysninger</h2>
    <hr />
        <a href="/shared/adminLoginPage" class="btn btn-primary btn-lg">Admin Login</a>
        <hr />
        <a href="customerLoginPage" class="btn btn-primary btn-lg">Kunde Login</a>
</div>
   