@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen</h1>

    <a href="/Item/GetAllItems" class="btn btn-primary btn-lg">Admin Login</a>
    <a href="customerLoginPage" class="btn btn-primary btn-lg">Kunde Login</a>
