@page
@model PrivacyModel
@{
    ViewData["Title"] = "Databeskyttelse politik";
}
<h1>@ViewData["Title"]</h1>

<div>
    <div>
        <h4>
            Når du er kunde i Elgiganten, har vi nogle gange brug for at behandle dine personoplysninger. Fordi vi ved, at de varer, du køber hos os, er vigtige for din hverdag, ønsker vi at give dig bedst mulig information om tilbud og kampagner, før du køber vores varer, samt opfølgning efter at handlen er gennemført.

            Elgigantens butikker ejes og drives af Elgiganten A/S (CVR-nr. 17237977). Elgiganten A/S er ejet af Elkjøp Nordic AS (CVR-nr. 911 382 296), som bistår Elgiganten med daglig drift og udvikling. Elkjøp Nordic har også det overordnede strategiske ansvar for Elgigantens drift som koncern, herunder vores aktiviteter i de øvrige nordiske lande.

            For behandlingen af ​​personoplysninger beskrevet i denne privatlivspolitik har Elkjøp Nordic fælles behandlingsansvar med Elgiganten. Elgiganten er uafhængig dataansvarlig for videoovervågning i varehuse som beskrevet i punkt 10 nedenfor.

            Hvis du har spørgsmål til denne privatlivspolitik eller de vurderinger, vi har foretaget, kan du kontakte os via vores kundecenter eller på infosec@giganten.dk. For udøvelse af dine rettigheder, se punkt 11 nedenfor.
        </h4>
    </div>
</div>
