@page
@model Elgiganten.Pages.Ordre.DeleteOrderModel.DeleteOrdreModel
@{
}
<h1>Delete Confirmation</h1>
<div class="alert alert-danger">
    <h5>Are you sure you want to delete Item - @Model.Ordre</h5>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a class="btn btn-primary" asp-page="/Ordre/GetAllOrdres">No</a>
    </form>
</div>